* {
    box-sizing: border-box;
}

.row {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.column {
    height: 20px;
    width: 20px;
    border: 0.25px solid black;
}

.push{
    border-style: inset;
}

#gridContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    font-size: 35px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

button {
    border: none;
    border-radius: 12px;
    color: white;
    background-color: lightskyblue;
    padding: 20px 25px;
    font-size: 16px;
}

#header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 40px;
}