* {
    box-sizing: border-box;
}

#gridContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.row {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.column {
    padding: 3px;
    border: 0.25px solid black;
}